---
title: Menu
---

<div class="container">
	<h1>Check out our Twitter feed for up-to-date menu</h1>
	<a class="twitter-timeline" href="https://twitter.com/MyThaiMom" data-widget-id="662730186496978944">Tweets by @MyThaiMom</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>