---
title: Photos
---
<link href="stylesheets/lightbox.css" rel="stylesheet">
<script src="stylesheets/jquery-1.11.3.min.js"></script>
<script src="stylesheets/lightbox.js"></script>


<div class="container">
	<h1>Check out the delicious food!</h1>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-4" class="thumbnail">
			<a href="images/01.jpg" data-lightbox="01" data-title="food">
				<img src="images/01-thumb.jpg">
			</a>
		</div>
		<div class="col-md-4">
			<a href="images/02.jpg" class="thumbnail">
				<img src="images/02-thumb.jpg">
			</a>
		</div>
		<div class="col-md-4">
			<a href="images/03.jpg" class="thumbnail">
				<img src="images/03-thumb.jpg">
			</a>
		</div>  
	</div>

	<div class="row">   
		<div class="col-md-4">
			<a href="images/04.jpg" class="thumbnail">
				<img src="images/04-thumb.jpg">
			</a>
		</div>
		<div class="col-md-4">
			<a href="images/05.jpg" class="thumbnail">
				<img src="images/05-thumb.jpg">
			</a>
		</div>
		<div class="col-md-4">
			<a href="images/06.jpg" class="thumbnail">
				<img src="images/06-thumb.jpg">
			</a>
		</div>
	</div>

	<div class="row">    
		<div class="col-md-4">
			<a href="images/07.jpg" class="thumbnail">
				<img src="images/07-thumb.jpg">
			</a>
		</div>
		<div class="col-md-4">
			<a href="images/08.jpg" class="thumbnail">
				<img src="images/08-thumb.jpg">
			</a>
		</div>
		<div class="col-md-4">
			<a href="images/09.jpg" class="thumbnail">
				<img src="images/09-thumb.jpg">
			</a>
		</div>
	</div>

	<div class="row">          
		<div class="col-md-4">
			<a href="images/10.jpg" class="thumbnail">
				<img src="images/10-thumb.jpg">
			</a>
		</div>
		<div class="col-md-4">
			<a href="images/11.jpg" class="thumbnail">
				<img src="images/11-thumb.jpg">
			</a>
		</div>
		<div class="col-md-4">
			<a href="images/12.jpg" class="thumbnail">
				<img src="images/12-thumb.jpg">
			</a>
		</div>
	</div>

	<div class="row">    
		<div class="col-md-4">
			<a href="images/13.jpg" class="thumbnail">
				<img src="images/13-thumb.jpg">
			</a>
		</div>
		<div class="col-md-4">
			<a href="images/14.jpg" class="thumbnail">
				<img src="images/14-thumb.jpg">
			</a>
		</div>
		<div class="col-md-4">
			<a href="images/15.jpg" class="thumbnail">
				<img src="images/15-thumb.jpg">
			</a>
		</div>
	</div>    
</div>