<h1> My Thai Mom </h1>

<nav>
	<ul> 
		<li><a href="/index">Home</a></li> 
		<li><a href="/menu">Menu</a></li> 
		<li><a href="/location">Location</a></li>
		<li><a href="/photos">Photos</a></li> 
	</ul>   
</div> 
<p> STUFF </p>
</nav>